body{
    background-color: azure;
}

.main-nav{
    border: 1px solid blue;
}

.navbar-brand img{
    height: 15vh;

}
.logo-det{
    margin-top: 28px;

}
.logo-det a{
    text-decoration: none;

}

.logo-det p{
    font-size: 1.25rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.navbar-collapse ul li a{
    font-size: 1.125rem;
    color: black;
}

.navbar-collapse .navbar-nav .nav-item .nav-link:hover {
    background-color: rgba(42,125,190,255);
    border-radius: 10px;
    color: white;
}
.dropdown-menu{
    border: none;
}

.dropdown-menu li a:hover{

    color: rgba(42,125,190,255);

}
.dropdown:hover .dropdown-menu{
    display: block;

}

.main-img{
    width: 100%;
}


.search input::placeholder{
    font-size: 1.2rem;
    color: rgb(168, 167, 164);
}
.box .dropdown button:hover{
    color: aliceblue;
    background-color: transparent;
}

@media only screen and (max-width:900px)  {
    .pag span{
        display: none;


    }
}


@media only screen and (max-width:800px)  {
    .search input::placeholder{
        color: transparent;
    }
}
@media only screen and (max-width:800px)  {
    .box .dropdown {
        display: none;
    }
}
@media only screen and (min-width:800px)  {
    .box .dropdown2 {
        display: none;
        background-color:transparent;
    }
}
@media only screen and (max-width:990px)  {
    .leader{
        display: flex;

    }
    .leader .card img{
        height: vh;
    }


}


@media only screen and (max-width: 1200px) and (min-width: 990px)  {
        .links .card p{
            font-size: 1.1rem !important;
        }
}

/* @media only screen and (max-width: 1200px) and (min-width: 990px)  {
        .news .card .card-body .news-content p{
            font-size: 0.9rem !important;
        }
} */

/* @media only screen and (max-width:800px)  {
    .leader .card p{
        font-size:0.8rem ;


    }
} */


.carousel-item img{
    height: 500px;
    object-fit: cover;
    background-position: center;
}

.s-sec{
    border-radius: 10px;
}
.card{

    border: none;


}



.base{
    border-radius: 10px;
}

.mp-tog .switch{
    background-color:  rgba(42,125,190,255);
    border-radius: 10px;

}

ul.tabs{
    margin: 0px;
    padding: 0px;
    list-style: none;
    white-space:nowrap;
}
ul.tabs li{
    background: none;
    color: rgb(241, 238, 238);
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
    width: 50%;
    border-radius: 5px;
}

ul.tabs li.current{
    /* background: #ededed; */
    background-color: rgba(27,86,147,255);
    /* color: #222; */
    color: rgb(255, 255, 255);
}



.tab-content{
    display: none;
    /* background: #361616; */
    padding: 15px;
}

.tab-content.current{
    display: inherit;
}


.gallery{
    padding: 40px;

}

.gallery .card{

    height: 38vh;
    background-color: rgba(42,125,190,255);

}
.gallery .card .card-img-top{
    padding: 1px;
    height: 28vh;
}

.news .card{
    background-color: rgba(42,125,190,255);
    height: 50vh;



}



.news .card .card-img-top{
    padding: 1px;
    height: 25vh;
}

.news .card .card-body .news-content{

    font-weight: 550;
}

.links h2{
    color:  rgba(42,125,190,255);
    font-weight: 700;
}

.links .card{

    height: 15vh;
    padding: 10px;
    background-color:rgba(42,125,190,255) ;
    border-radius: 20px;
    margin-bottom: 10px;
}

.links .card p{

    font-weight: 600;
    font-size: 1.3rem;
    color: white;
    text-align: center;

    /* width: 20rem; */


}

footer{
    background-color: rgba(42,125,190,255) ;
}

footer .contact ul li{
   list-style-type: none;
}



footer .message input[type=text], select, textarea {
    width: 100%;
    padding: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 16px;
    resize: vertical;
  }


footer .message input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  footer  ul li{
    list-style-type: none;
 }

footer ul li a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

 footer .det  ul li ::before{
    font-size: 18px;
    color: rgb(221, 80, 15);
    font-weight: 700;
    content: "\00BB";
 }

 footer .slog{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    color: rgb(214, 184, 120);
 }

 footer .copyright a{
    text-decoration: none;
    color: white;
    text-align: center;
 }